*{
	font-family:arial
}
.container {
	width:80%;
	margin : 15px auto;
	padding: 0 15px;
}

p{
	font-weight:bold;
	color:#333;
}



header .container{
	color:#AAA;
	padding:20px;
	border-bottom: 1px solid #999;
	font-size:25px;
}

input {
	border-radius :5px;
	border:1px solid #DDD;
	padding:5px;
	width:80%;
	margin:auto;
	font-size:15px;
	max-height:2em;
}
input:hover{
	box-shadow:0px 0px 12px -7px #888;
}

.inputFavoriteSites {
	background-color:#EEE;
	/* border:none; */
	text-align:center;
	padding:30px;
}


.display{
	background-image: linear-gradient(#EEE,#FFF);	
}










footer .container{
	padding:20px;
	border-top: 1px solid #999;
	font-size:14px;
	width: 100%;
}
footer p {
	color:#AAA;
}





